/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * and Michelle Claire Currier of m. currier designs
 */
 
 
html {
  font-family: 'Abel', sans-serif;
  background: #EEE9E2;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h1, h2, h3, h4{
  font-family: 'Fredoka One', cursive;
}
h5 {
  line-height: 140%;
}
h2 > i.material-icons {
  font-size: 4rem;
}
strong {
  font-family: 'Fredoka One', cursive;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

ul.chakra-menu   {
  position:fixed;
  top:0px;
  left:15px;
}
ul.chakra-menu li a {
  font-family: 'Fredoka One', cursive;
}
#show {
  display: none;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  text-shadow: 0px 0px 4px #000000;
}
.parallax-container .section {
  width: 100%;
}
.parallax-container .btn-large {
  text-shadow: none;
}
.brand-logo {
  background: url('../logo.jpg') no-repeat;
  width: 136px;
  height: 60px;
  margin-top: 2px;
  background-size: contain;
}
.sahasrara, .ajna, .visudha, .anahata, .manipura, .svadhistana, .muladhara {
  background: url('../chakras.png') no-repeat;
  width: 230px;
  background-size: cover;
  float: left;
  background-position-x: -6px;
  height: 215px;
} 
.sahasrara {
  background-position-y: -15px;
} 
.ajna {
  background-position-y: -298px;
  height: 124px;
} 
.visudha {
  background-position-y: -484px;
}
.anahata {
  background-position-y: -727px;
} 
.manipura {
  background-position-y: -978px;
} 
.svadhistana {
  background-position-y: -1218px;
} 
.muladhara {
  background-position-y: -1460px;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #725481;
}
nav ul a:hover {
  background-color: #F5F0EC;
}
i.big {
  font-size: 4rem;
}
.thumbnails {
  margin-right: -1.5rem !important;
  margin-left: -1.5rem !important;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 34%;
  }
  #index-banner .section {
    top: 10%;
  }
  .brand-logo {
    height: 52px;
    margin-top: 1px;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
